html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-weight: 500;
}

ol,
ul {
    margin-left: 2em;
}

li {
    margin-bottom: 0.5em;
}

blockquote {
    background: #f9f9f9;
    border-left: 4px solid #ccc;
    margin: 1.5em 0;
    padding: 1em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

a:hover {
    cursor: pointer;
}

p {
    margin: 12px 0;
}